GRAFANA_USER=
GRAFANA_PASSWORD=
GRAFANA_ROOT_URL=
GRAFANA_ALLOW_SIGN_UP=
GRAFANA_PLUGINS=

DISCORD_WEBHOOK_URL=

MATOMO_DB_HOST=
MATOMO_DB_NAME=
MATOMO_DB_USER=
MATOMO_DB_PASSWORD=
MATOMO_DB_ROOT_PASSWORD=
MATOMO_DB_ADAPTER=
MATOMO_DB_PREFIX=

GRAFANA_PORT=
PROMETHEUS_PORT=
ALERTMANAGER_PORT=
LOKI_PORT=
TEMPO_PORT=
TEMPO_OTLP_GRPC_PORT=
TEMPO_OTLP_HTTP_PORT=
TEMPO_ZIPKIN_PORT=
TEMPO_JAEGER_PORT=
MATOMO_PORT=
NODE_EXPORTER_PORT=
CADVISOR_PORT=
